@import "../themes/primary.scss";

@mixin sidebar-background-color($background-color, $font-color){
    .nav{
        .nav-item{
            .nav-link{
              color: $font-color;
            }
            i{
              color: rgba($font-color, .8);
            }

            &.active,
            &:hover{
                [data-toggle="collapse"]{
                  color: $font-color;
                    i{
                        color: rgba($font-color, .8);
                    }
                }
            }
        }
    }
    .user{
        a{
          color: $font-color;
        }
    }
    .simple-text{
        color: $font-color;
    }
    .sidebar-background:after{
        background: $background-color;
        opacity: .8;
    }
}

@mixin sidebar-active-color($font-color){
    .nav{
      .nav-item{
            &.active > a:not([data-toggle="collapse"]){
                /* changed color : $font-color to white */
                color: white;
                opacity: 1;
                /* change sidebar active link color from #17a1bf to primary-blue color of app */
                background: $color-primary;
                // @include shadow-big-color($font-color);

                i{
                    color: $white-color; /* rgba($font-color, .8)  */
                }
            }
        }
    }
}

@mixin set-background-color-button($color){

    li.active > a{
        color: #3C4858;
        font-weight: 400;
        font-size: 13px;
        /*background-color: $color;
        @include shadow-big-color($color);*/
    }
}
