.dashboard-component-container {
    width: 100%;
    height: 100%;
  
    .cards-container .card-stats .card-header.card-header-icon .card-icon {
      padding: 5px;
      i {
        font-size: 26px !important;
        line-height: 44px !important;
        width: 44px !important;
        height: 44px !important;
      }
    }
  
    .cursor-pointer 
    {
      cursor: pointer;
    }
  }
  
  
  