@import "../../../assets/scss/core/themes/primary.scss";

.modal-container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }
}

h4[mat-dialog-title] {
  margin: 0 0 7px !important;
}

.subscription-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px;
  border-radius: 13px;
}

.plans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 25px;
  margin: 15px 0;
}

.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-height: 270px;
}

.check-icon {
  color: green;
}

.active {
  color: $color-primary;
  font-size: 36px;
}

.active-b {
  border: 1px solid $color-primary;
}

.current-plan {
  width: 100%;
  color: $color-primary;
  font-size: 16px;
  font-weight: 400;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  box-shadow: 0px 1px 3px var(--primary);
}

.recommended-plan {
  mix-blend-mode: luminosity;
}

.planName {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.plan-price {
  font-size: 38px;
  text-align: center;

  .fs-small {
    font-size: 16px;
  }
}

.planDesc {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.mat-dialog {
  margin: 0 !important;
}

.features-heading {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;

  .icon-wrapper {
    width: 25px;
    height: 25px;
    background: #e7e0e0;
    border-radius: 50%;

    .fa-caret-down {
      font-size: 24px;
      transform: rotate(-180deg);
      transition: transform 250ms ease-in-out;
    }
  }
}

.collapsed {
  .fa-caret-down {
    transform: rotate(0deg) !important;
  }
}

@media screen and (max-width:768px) {
  .plans-container {
    grid-template-columns: 1fr;
  }
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}


.file-input {
  display: none;
}

.file-upload-btn {
  display: flex;
  padding: 0;

  .mat-button-wrapper {
    display: flex;
  }

  label {
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 12px;
    background-color: $color-primary;
    color: white !important;
  }
}

mat-form-field{
  width: 95%;
}

::ng-deep .mat-form-field-hint-wrapper{
  display: block !important;
}

::ng-deep .mat-mdc-form-field-hint-wrapper{
  display: block;
}

mat-hint{
  white-space: nowrap;
}